{% extends 'User/base/base.html' %}

{% block title %}Home - AI Services{% endblock %}

{% block content %}
  <div class="main-title">
    <p class="font-weight-bold">AI SERVICES</p>
  </div>

  <section id="services" class="services">
    <div class="service-card">
      <h3>Brain Tumor Detection</h3>
      <p>Utilize our advanced AI algorithms to detect brain tumors with high accuracy.</p>
      <button >Access Service</button>
    </div>
    <div class="service-card">
      <h3>Image Classification</h3>
      <p>Classify images into predefined categories using our AI models.</p>
      <button >Access Service</button>
    </div>
    <div class="service-card">
      <h3>Text Sentiment Analysis</h3>
      <p>Analyze the sentiment of textual data with our sentiment analysis service.</p>
      <button >Access Service</button>
    </div>
    <!-- Add more services as needed -->
  </section>
{% endblock %}
